h1{
margin-left:60px;
}
div.OrderForm{
width:900px;
padding:10px;
border:3px solid black;
margin-left:60px;
}
div.FormHead{
width:880px;
padding:10px;
border-bottom:3px solid black;
margin:0px;
}
div.Info{
border-top:1px solid gray;
margin-top:2px;
padding-top:1px;
text-align:center;
}
div.Category{
width:880px;
padding:1px;
padding-bottom:3px;
margin:1px;
border:4px solid gray;
}
div.CategoryName{
position:relative;
font-size:20px;
padding-left:2px;
color:black;
top:-4px;
left:-5px;
border:3px solid gray;
width:150px; /*Preferably this would shrink to the minimum length needed for the text, but im not sure how to define that */
}
input.Choice{
list-style-position:inside;
display:inline;
}
div.FormFoot{
width:880px;
padding 10px;
margin-top:5px;
}
div.Container{
width:900px;
padding:5px;
border:3px solid black;
margin-left:60px;
}
div.Container.index{
height:300px
}
div.logininfo{
position:relative;
margin:0px;
padding:3px;
padding-bottom:0px;
}
a.logout{
color:black;
float:right;
text-decoration:none;
}
a.kitchenindex{
float:right;
}
a.logout:hover {
color:gray;
}
a.order{
font-size:30px;
text-decoration:none;
text-align:center;
color:black;
padding:2px;
border:2px solid black;
}
a.order:hover {
border-color:gray;
}
a.view{
font-size:20px;
text-decoration:none;
text-align:center;
color:black;
padding:1px;
border:2px solid black;
}
div.indexcenter{
padding:2px;
margin:2px;
margin-top:10px;
width:250px;
float:right;
position:relative;
display:inline;
}
div.centered{
padding:2px;
margin:2px;
text-align:center;
}
div.indexcenter.cent{
text-align:center;
margin-top: 50px;
}
div.indexfoot{
padding:2px;
clear:both;
}

div.orderdetail{
}
div.ordergroup{
background:grey;
padding:1px;
margin:1px;
}
div.orderchoice{ 
display:inline;
font-size:15px;
}
div.ordergroupname{
font-size:20;
}
div.Blurb{
float:left;
width:638px;
padding:2px;
padding-right:1px;
margin:2px
border-right:solid gray 1px;
}
