<html5>
<head>
<title> Order Form</title>
<LINK REL=StyleSheet HREF="style.css" TYPE="text/css">
</head>
<body>
<div> <h1> Brown Box Order Form </h1> </div>


<div class= "BasicData">

Name [Name Field] </br>
Department [Department Field] </br>
Pickup Time [Pickup Time Field] </br>
Type <select> <option>Roll</option> <option> Wrap </option> <option>Salad <option></select> </br>

Tuesday or Thursday </br>
</div>
<div class= "Info">
Create your own sandwich, wrap, or salad by checking any of the ingredients. </br>
Wraps and Sandwiches come with chips and a cookie, salads come with a cookie only.
</div>
</body>
</html5>  
