<html5>
<head>
<title> Order Form</title>
<LINK REL=StyleSheet HREF="/static/style.css" TYPE="text/css">
</head>
<body>
<div> <h1> Brown Box Order Form </h1> </div>
<form name="NewOrder" action="/order/confirm/" method="post">
{% csrf_token %}
<div class="OrderForm">
<div class= "FormHead">
{% if returned %}
  <strong> You're here because you weren't ready to submit your order.</strong> </br>
{% endif %}
Name: {{ user.username }} Department:{{ user.get_profile.department }} Room Number: {{ user.get_profile.room }} </br>
Pickup Time:
<select name="DOW">
<option value='TUES'>Tuesday</option>
<option value='THUR'>Thursday</option>
</select>
<select name="hour">
<option value='01'>1</option><option value='02'>2</option><option value='03'>3</option>
<option value='04'>4</option><option value='05'>5</option><option value='06'>6</option>
<option value='07'>7</option><option value='08'>8</option><option value='09'>9</option>
<option value='10'>10</option><option value='11'>11</option><option value='12'>12</option>
</select>:
<select name='minute'>
<option value='00'>00</option>
<option value='15'>15</option>
<option value='30'>30</option>
<option value='45'>45</option>
</select>
<select name="AMPM">
<option value="AM">AM</option>
<option value="PM">PM</option>
</select>
</br>

Type of Meal <select name="style">  
<option value='R'>Roll</option> 
<option value='W'>Wrap</option> 
<option value='S'>Salad<option>
</select> </br>
</div>
<div class= "Info">
Create your own sandwich, wrap, or salad by checking any of the ingredients. </br>
Wraps and Sandwiches come with chips and a cookie, salads come with a cookie only.
</div>
{% if categories %}
{% for cat in categories %}
<div class="Category">
<div class="CategoryName"> {{cat.0}} </div> 
{% for ingr in cat.1 %}
<input class="Choice" name="{{ ingr.id }}" type="checkbox">{{ ingr.name }}</input>
{% endfor %}
</div>
{% endfor %}
{% else %}
 something is really wrong. contact the admin? </p>
{% endif %}
<hr />
<div class="FormFoot">
<input type="submit" value="Submit" />      <a href='/index'>Go Home</a>
</div>
</div>
</form>
</body>
</html5>  
