<html5>
<head> 
<title> Submitting </title>
<LINK REL=StyleSheet HREF='/static/style.css' type='text/css'>
</head>
<body>
<h1>Brown Box Lunch</h1>
<div class='Container'>
<div class='logininfo'> Your are logged in as <strong> {{ user.username }} </strong> </div>
<hr />
<h2> Please review your order </h2> 
<div class='orderdetail'>
{{ Order.get_style_display }} </br>
{% for cat in Choices  %}
<div class='ordergroup'>
<div class='ordergroupname'> {{ cat.0 }}</div>
{% if cat.1 %}
{% for ingr in cat.1 %}
<div class='orderchoice'>
{{ ingr.name }}, 
</div>
{% endfor %} </br>
{% else %}
<div class='orderchoice'>None</div>
{% endif %}
</div>
{% endfor %} </br>
Pick up on {{ Order.pickup }} </br>
</div>
Are you sure this is what you want to order? </br>
<form name="Confirm" action='/order/submit/' method=post style='display:inline'>
{% csrf_token %}
<input type=hidden name="OrderId" value={{ Order.id }}>
<input type=submit name="Qu" value='yes'></form>
<form name="Confirm" action='/order' method=post style="display:inline">
{% csrf_token %} 
<input type='hidden' name="OrderId" value={{ Order.id }}> 
<input type='hidden' name="error" value="You weren't ready to submit your order">
<input type=submit name="Qu" value='no'> </br>
</form>
</div>
</body>
</html5>

