<html5>
<head> 
<title> Submitting </title>
</head>
<body>
Name: {{ user.username }} </br>
Department: {{ Order.user.get_profile.department }} Room Number: {{ Order.user.get_profile.room }} </br>
Your Order </br>
{% for cat in Choices  %}
{{ cat.0 }} </br>
{% if cat.1 %}
{% for ingr in cat.1 %}
{{ ingr.name }} 
{% endfor %} </br>
{% else %}
None </br>
{% endif %}
{% endfor %} </br>
Meal Style </br>
{{ Order.style }} </br>
Pick Up Time </br>
{{ Order.pickup }} </br>
Are you sure this is what you want to order </br>
<form name="Confirm" action='/order/submit/' method=post style='display:inline'>
{% csrf_token %}
<input type=hidden name="OrderId" value={{ Order.id }}>
<input type=submit name="Qu" value='yes'></form>
<form name="Confirm" action='/order' method=post style="display:inline">
{% csrf_token %} 
<input type='hidden' name="OrderId" value={{ Order.id }}> 
<input type=submit name="Qu" value='no'> </br>
</form>
</body>
</html5>

